mixin music()
    section.music
        .container
            .music__wrapper
                .music__img
                    .music__img-wrapper
                        img.music__photo(src='/img/music/music@1x.png' srcset='/img/music/music@2x.png' alt='Music tracks' width='435' height='435')
                .music__tracks
                    h2.music__title Last tracks
                    #aplayer
                    .music__follow.follow
                        h3.follow__title Follow me:
                        ul.follow__list
                            li.follow__item
                                a.follow__link(href='#')
                                    img.follow__icon(src='/img/music/spotify@1x.png' srcset='/img/music/spotify@2x.png' width='30' height='30' alt='Spotify')
                                    h3.follow__title-link Spotify
                            li.follow__item
                                a.follow__link(href='#')
                                    img.follow__icon(src='/img/music/itunes@1x.png' srcset='/img/music/itunes@2x.png' width='30' height='30' alt='iTunes')
                                    h3.follow__title-link iTunes

