mixin end(data)
  .beforeBodyEnd(style="display: none")
    script(src='https://cdnjs.cloudflare.com/ajax/libs/aplayer/1.10.1/APlayer.min.js')
    script(src="../js/app.min.js")

  //- ↓↓↓↓↓↓↓ Разкоммитить при подключении svg-спрайита ↓↓↓↓↓↓↓
  .svg-sprite(style="display: none") 
  include ../../../build/img/symbol/svg-sprite.svg