mixin head(data)
  head
    meta(charset="UTF-8")
    meta(content="", name="description")
    meta(content="", name="keywords")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    meta(content="telephone=no", name="format-detection")
    meta(name="HandheldFriendly", content="true")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    
    title #{title}
    link(rel="stylesheet", href="../template_styles.css")
    link(rel="icon" type="image/x-icon" href="../favicon.ico")

    link(rel="stylesheet" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aplayer/1.10.1/APlayer.min.css")
    link(rel="preload" href="../fonts/Poppins-Regular.woff2" as="font" crossorigin="")
    link(rel="preload" href="../fonts/Poppins-Medium.woff2" as="font" crossorigin="")
    link(rel="preload" href="../fonts/Poppins-SemiBold.woff2" as="font" crossorigin="")
    link(rel="preload" href="../fonts/Poppins-Bold.woff2" as="font" crossorigin="")