.text {
	margin-top: 151px;
	padding-top: 85px;
	padding-bottom: 85px;
}
.text__wrapper {
	position: relative;
	padding: 50px 80px;
	border: 1px solid #ffffff;
	border-top-left-radius: 30px;
	border-bottom-right-radius: 30px;
	&::after {
		content: "";
		position: absolute;
		top: -85px;
		right: 80px;
		width: 370px;
		height: 483px;
		background-image: url("/img/text/text@1x.jpg");
		background-repeat: no-repeat;
		background-position: 0 0;
		border-top-left-radius: 30px;
		border-bottom-right-radius: 30px;
	}
}
.text__description {
	position: relative;
	max-width: 520px;
	margin: 0;
	padding-bottom: 25px;
	font-size: 18px;
	font-weight: 400;
	line-height: 27px;
	border-bottom: 1px solid #ffffff;
	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 103px;
		height: 92px;
		background-image: url("/img/text/icon-quotes.svg");
		background-repeat: no-repeat;
		background-position: 0 0;
	}
}
.text__link {
	display: inline-block;
	margin-top: 25px;
	font-size: 18px;
	font-weight: 700;
	line-height: 27px;
	color: $firstColor;
	&:hover {
		color: $secondColor;
	}
}
