mixin text()
    section.text
        .container
            h2.text__title.visually-hidden Quote
            .text__wrapper
                p.text__description
                    | “In an age where mainstream music is designed to be as
                    | easily consumed as possible, listening to Bright Lights is
                    | refreshing, to say the least. Her sound is perfect for radio
                    | but complex enough to separate her from other pop newcomers.”
                a.text__link(href='#') PopULove.net
