// Шаблон для создания спрайта _svg-sprite.scss в таске svg-sprite по руководству http://glivera-team.github.io/svg/2016/06/13/svg-sprites-2.html

.svg-sprite {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.svg-sprite-icon-facebook {
	font-size:(24/10)*1rem;
	width:(24/24)*1em;
}
.svg-sprite-icon-instagram {
	font-size:(24/10)*1rem;
	width:(24/24)*1em;
}
.svg-sprite-icon-itunes {
	font-size:(24/10)*1rem;
	width:(20/24)*1em;
}
.svg-sprite-icon-play {
	font-size:(22/10)*1rem;
	width:(25/22)*1em;
}
.svg-sprite-icon-spotify {
	font-size:(24/10)*1rem;
	width:(24/24)*1em;
}
.svg-sprite-icon-twitter {
	font-size:(20/10)*1rem;
	width:(24/20)*1em;
}
.svg-sprite-icon-youtube {
	font-size:(18/10)*1rem;
	width:(24/18)*1em;
}
