.about {
	margin-top: 179px;
}
.about__wrapper {
	display: grid;
	grid-template-columns: 540px 1fr;
	gap: 125px;
	margin-top: 60px;
}
.about__title {
	position: relative;
	padding-left: 94px;
	margin: 0;
	font-size: 48px;
	font-weight: 700;
	line-height: 72px;
	&:before {
		content: "";
		position: absolute;
		top: 22px;
		left: 0;
		width: 64px;
		height: 31px;
		background-image: url("/img/about/icon-equalizer.svg");
		background-repeat: no-repeat;
		background-position: 0 0;
	}
}
.about__text {
	margin: 0;
	width: 537px;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	opacity: 0.7;
}
.about__text--preline {
	white-space: pre-line;
}
.about__list {
	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 30px;
	row-gap: 33px;
	list-style: none;
	padding: 0;
	margin: 0;
	margin-top: 60px;
}
.about__item {
	position: relative;
	padding-left: 50px;
	font-size: 18px;
	font-weight: 600;
	line-height: 27px;
	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 30px;
		height: 30px;
		background-color: $firstColor;
		border-top-left-radius: 10px;
		border-bottom-right-radius: 10px;
	}
}
.about__img {
	position: relative;
	top: -71px;
}
.about__photo {
	border-top-left-radius: 30px;
	border-bottom-right-radius: 30px;
}
.about__photo--front {
	position: absolute;
}
.about__photo--behind {
	position: absolute;
	top: 65px;
	left: 95px;
	z-index: -1;
}
