mixin tours()
    
    section.tours
        .container-special
            .tours__wrapper
                .tours__carousel
                    +tours__card('#', 
                    '/img/tours__card/tours-the-park-at-wild-horse-pass@1x.jpg',
                    '/img/tours__card/tours-the-park-at-wild-horse-pass@2x.jpg', 
                    "The park at wild horse pass",
                    350,
                    280,
                    'Chandler, AZ', 
                    'The Park at Wild Horse Pass', 
                    'Apr 02 2021')

                    +tours__card('#', 
                    '/img/tours__card/tours-swag-ibiza-club@1x.jpg',
                    '/img/tours__card/tours-swag-ibiza-club@2x.jpg', 
                    "Swag Ibiza Club",
                    350,
                    280,
                    'Ibiza, IBZ', 
                    'Swag Ibiza Club', 
                    'Jul 08 2021')

                    +tours__card('#', 
                    '/img/tours__card/tours-el-swing-ibiza@1x.jpg',
                    '/img/tours__card/tours-el-swing-ibiza@2x.jpg', 
                    "Swag Ibiza Club",
                    350,
                    280,
                    'Ibiza, IBZ', 
                    'El Swing Ibiza', 
                    'Jul 10 2021')

                    +tours__card('#', 
                    '/img/tours__card/tours-the-park-at-wild-horse-pass@1x.jpg',
                    '/img/tours__card/tours-the-park-at-wild-horse-pass@2x.jpg', 
                    "The park at wild horse pass",
                    350,
                    280,
                    'Chandler, AZ', 
                    'The Park at Wild Horse Pass', 
                    'Apr 02 2021')

                    +tours__card('#', 
                    '/img/tours__card/tours-swag-ibiza-club@1x.jpg',
                    '/img/tours__card/tours-swag-ibiza-club@2x.jpg', 
                    "Swag Ibiza Club",
                    350,
                    280,
                    'Ibiza, IBZ', 
                    'Swag Ibiza Club', 
                    'Jul 08 2021')

                    +tours__card('#', 
                    '/img/tours__card/tours-el-swing-ibiza@1x.jpg',
                    '/img/tours__card/tours-el-swing-ibiza@2x.jpg', 
                    "Swag Ibiza Club",
                    350,
                    280,
                    'Ibiza, IBZ', 
                    'El Swing Ibiza', 
                    'Jul 10 2021')