mixin header()

  header.page-header.page-header__wrapper
    .page-header__container
      a.page-header__logo(href='#')
        img.page-header__logo-img(src='/img/header/logo.svg' width='223' height='60' alt='Bright Lights')
    nav.main-nav
      .main-nav__wrapper
        ul.main-nav__list.site-list
          li.site-list__item
            a.site-list__link(href='#about')
              | About
          li.site-list__item
            a.site-list__link(href='#news')
              | News
          li.site-list__item
            a.site-list__link(href='#music')
              | Music
          li.site-list__item
            a.site-list__link(href='#media')
              | Media
          li.site-list__item
            a.site-list__link(href='#tours')
              | Tours
          li.site-list__item
            a.site-list__link(href='#contacts')
              | Contacts
