mixin intro()
    section.intro
        .container
            h1.intro__title.visually-hidden Bright Lights
            .intro__wrapper
            .intro__player.player
                p.player__description New Single
                p.player__song War For Love
                #player