mixin media()

  section.media
    .container
      h2.media__title.visually-hidden Media gallery
      .media__wrapper
        .media__item
          img.media__img(src='/img/media/media-item-1@1x.jpg' srcset='/img/media/media-item-1@2x.jpg' alt='Фото 1' width='255' height='500')
          a.media__link(href='#')
        .media__item
          img.media__img(src='/img/media/media-item-2@1x.jpg' srcset='/img/media/media-item-2@2x.jpg' alt='Фото 2' width='255' height='235')
          a.media__link(href='#')
        .media__item
          img.media__img(src='/img/media/media-item-3@1x.jpg' srcset='/img/media/media-item-3@2x.jpg' alt='Фото 3' width='255' height='235')
          a.media__link(href='#')
        .media__item
          img.media__img(src='/img/media/media-item-4@1x.jpg' srcset='/img/media/media-item-4@2x.jpg' alt='Фото 4' width='255' height='500')
          a.media__link(href='#')
        .media__item
          img.media__img(src='/img/media/media-item-5@1x.jpg' srcset='/img/media/media-item-5@2x.jpg' alt='Фото 5' width='540' height='235')
          a.media__link(href='#') EDC Las Vegas Mainstage
