.page-footer {
	padding-bottom: 40px;
	margin-top: 180px;
}
.page-footer__wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 533px;
	margin: 0 auto;
}
.page-footer__logo {
	&:hover {
		opacity: 0.8;
	}
	&:active {
		opacity: 0.6;
	}
	&:focus {
		opacity: 0.6;
	}
}
.page-footer__logo-img {
	width: 223px;
	height: 60px;
}
.page-footer__contacts {
	display: grid;
	grid-template-columns: 199px 1fr;
	column-gap: 30px;
	margin-top: 60px;
	text-transform: uppercase;
}
.page-footer__manager {
	justify-self: flex-end;
	margin: 0;
	font-size: 18px;
	font-weight: 600;
	line-height: 27px;
}
.page-footer__email {
	justify-self: flex-end;
	margin: 0;
	font-size: 18px;
	font-weight: 600;
	line-height: 27px;
}

.page-footer__manager-name {
	margin: 0;
	font-size: 18px;
	font-weight: 400;
	line-height: 27px;
	color: #ffffff;
}
.page-footer__email-link {
	margin: 0;
	font-size: 18px;
	font-weight: 400;
	line-height: 27px;
	color: #ffffff;
	&:hover {
		color: $secondColor;
	}
}
.page-footer__copyright {
	margin: 0;
	margin-top: 100px;
	font-size: 13px;
	font-weight: 400;
	line-height: 20px;
	text-align: center;
	opacity: 0.5;
	text-transform: uppercase;
}
.social__list {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	gap: 20px;
	width: 510px;
	padding: 0;
	margin: 0;
	margin-top: 60px;
	list-style: none;
}
.social__item {
	position: relative;
	width: 60px;
	height: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(44, 44, 44, 1);
	border-radius: 50%;
}
.social__link {
	width: 44px;
	height: 44px;
	background-color: $firstColor;
	border-radius: 50%;
	transition: 0.3s;
	&:hover {
		background-color: $secondColor;
	}
}
.svg-sprite-icon-youtube,
.svg-sprite-icon-twitter,
.svg-sprite-icon-facebook,
.svg-sprite-icon-itunes,
.svg-sprite-icon-instagram,
.svg-sprite-icon-spotify {
	color:#ffffff;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
