mixin footer()

  footer.page-footer
    .page-footer__wrapper
      a.page-footer__logo(href='#')
        img.page-footer__logo-img(src='/img/footer/logo.svg' width='223' height='60' alt='Bright Lights')
      .page-footer__contacts
        p.page-footer__manager Artist Management:
        p.page-footer__manager-name Jake Henny
        p.page-footer__email Email:
        a.page-footer__email-link(href='mailto:jake@brightlightsofficial.com') jake@brightlightsofficial.com
      .page-footer__social.social
        h2.visually-hidden Social Networks
        ul.social__list
          li.social__item
            a.social__link(href='#')
              span.visually-hidden iTunes
              +svg('icon-itunes')
          li.social__item
            a.social__link(href='#')
              span.visually-hidden Spotify
              +svg('icon-spotify')
          li.social__item
            a.social__link(href='#')
              span.visually-hidden Instagram
              +svg('icon-instagram')
          li.social__item
            a.social__link(href='#')
              span.visually-hidden Youtube
              +svg('icon-youtube')
          li.social__item
            a.social__link(href='#')
              span.visually-hidden Twitter
              +svg('icon-twitter')
          li.social__item
            a.social__link(href='#')
              span.visually-hidden Facebook
              +svg('icon-facebook')

      p.page-footer__copyright © 2020 DJ bright lights.
